<%- include("partials/header") -%>

<div class="goUpDiv">
  <form action="/about-the-test" method="GET">
    <button class="goUp" type="submit" name="button">^</button>
  </form>

</div>

<div class="container-fluid">
  <div class="container-fluid emphasis">
    <p>Have you ever tested your personality?</p>
    <p>Understanding personality science is the key to optimizing your behavior and getting to know yourself.</p>
    <p> Plus… your personality science might surprise you.</p>
  </div>
  <form action="/start-test" method="GET">
    <button class="startTestButton" type="submit" name="button">Start Test</button>
  </form>

  <p>Researchers have found that there is a science to personality.</p>

  <p>Every single person–regardless of gender, age or nationality — is made up of 5 basic traits.</p>
  <ul>
    <li>Openness</li>
    <li>Conscientiousness</li>
    <li>Extroversion</li>
    <li>Agreeableness</li>
    <li>Neuroticism</li>
  </ul>
  <p>Fondly known as the Big 5 Personality Traits, or OCEAN, these are incredibly helpful for understanding yourself.
    <br>When you understand your own personality, you are able to ask for your needs, connect more easily, and optimize your behavior. </p>
  <p>Read on to figure out where you fall on the personality spectrum.</p>

  <div class="subHeading ">Is Your Personality Genetic?</div>
  <p>Is your personality nature or nurture?</p>
  <p>Did you inherit your traits from your parents or create them in your childhood?</p>
  <p>The answer is…both.</p>

  <p>Our personalities are complicated, multi-dimensional beasts. <br>
    Based on four different twin studies, researchers believe certain traits are more heritable than others. <br>
    For example, how adventurous you are is the most heritable trait, while how easy going you are is the least heritable. <br>
    In other words, if your parents love trying new foods, you are more likely to enjoy that as well. <br>
    But if your parents are laid-back hippies, you have less of a chance of being a hippie.</p>

  <p>Here is an overview of the 5 traits and how ‘heritable’ they are.</p>

  <div class="subSubHeading">Personality Trait #1: Openness</div>

  <div class="emphasis">
    <p>Openness is when someone is curious and openminded to new experiences and knowledge.</p>
    <p>People who rate high in openness are inventive and curious. </p>
    <p>People who rate low in openness are consistent and cautious. </p>
  </div>

  <p>Do you agree or disagree with these statements?</p>
  <p>I love adventure. <br>
    I am imaginative. <br>
    I am the first to try new activities.</p>
  <p>If you agreed, you probably rate high in openness. <br>
    If you disagreed, you probably rate low in openness.</p>
  <p class="formattedText inBold">Openness has 57% genetic influence</p>
  <p class="formattedText inBold spcNote">Special Note:
    <br>If you rate high in openness, let people in your life know that you love to be challenged.
    <br>Make sure you have creative outlets to express yourself.
    <br>You also have to make sure your spouse or partner knows your level of adventure, so your needs are met.</p>



  <form action="/start-test" method="GET">
    <button class="startTestButton" type="submit" name="button">Start Test</button>
  </form>



  <div class="subSubHeading">Personality Trait #2: Conscientiousness</div>

  <div class="emphasis">
    <p>Conscientiousness describes how organized and dependable you are.</p>
    <p>People who rate high in conscientiousness are efficient and organized. </p>
    <p>People who rate low in conscientiousness are more easy-going and laid back.</p>
  </div>


  <p>Do you agree or disagree with these statements?</p>
  <p>I am highly self-disciplined.<br>
    I am very organized and always come prepared.<br>
    I like to know the plan rather than be spontaneous.</p>
  <p>If you agreed, you probably rate high in conscientiousness. <br>
    If you disagreed, you probably rate low in conscientiousness.</p>
  <p class="formattedText inBold">Conscientiousness has 49% genetic influence</p>
  <p class="formattedText inBold spcNote">Special Note:
    <br>If you rate high in conscientiousness, you want to make sure the people around you respect your desire to have a plan.
    <br>But don’t get too frustrated with people who rate low in conscientiousness–you can’t blame them for not being organized.
    <br>It just doesn’t come as naturally.</p>






  <div class="subSubHeading">Personality Trait #3: Extroversion</div>

  <div class="emphasis">
    <p>Extroversion describes how you interact with people. </p>
    <p>People who rate high in extroversion are outgoing and energetic. </p>
    <p>People who rate low in extroversion are more solitary and reserved. </p>
  </div>


  <p>Do you agree or disagree with these statements?</p>
  <p>I am the life of the party.<br>
    I don’t mind being the center of attention.<br>
    I am usually the one to start a conversation with someone.</p>
  <p>If you agreed, you probably rate high in extroversion. <br>
    If you disagreed, you probably rate low in extroversion.</p>
  <p class="formattedText inBold">Extraversion has 54% genetic influence</p>
  <p class="formattedText inBold spcNote">Special Note:
    <br>If you rate low in extroversion, be sure to not force yourself to try being extroverted.
    <br>Honor your introversion. You never want to try being something or someone you are not.
    <br>Think of the places and people who get you excited and stick to those nourishing spots.
    <br>This helps you stay true to yourself–let the extroverts go to the nightclubs!</p>




  <form action="/start-test" method="GET">
    <button class="startTestButton" type="submit" name="button">Start Test</button>
  </form>





  <div class="subSubHeading">Personality Trait #4: Agreeableness</div>

  <div class="emphasis">
    <p>Agreeableness is how you feel toward others. </p>
    <p>People who rate high in agreeableness are friendly and compassionate. </p>
    <p>People who rate low in agreeableness are more analytical and detached.</p>
  </div>


  <p>Do you agree or disagree with these statements?</p>
  <p>I tend to trust people and give them the benefit of the doubt.<br>
    I am extremely empathetic.<br>
    I like to make other people feel at ease.</p>
  <p>If you agreed, you rate probably high in agreeableness. <br>
    If you disagreed, you rate probably low in agreeableness.</p>
  <p class="formattedText inBold">Agreeableness has 42% genetic influence</p>
  <p class="formattedText inBold spcNote">Special Note:
    <br>If you rate low in agreeableness, empathy doesn’t come as naturally to you.
    <br>So, your partner might say things such as, ‘Don’t you understand me?’ or, ‘Why don’t you get me?’
    <br>That’s okay. Know that you have to make more of a mental effort to put yourself in their shoes.</p>









  <div class="subSubHeading">Personality Trait #5: Neuroticism</div>

  <div class="emphasis">
    <p>Neuroticism is how you deal with emotions. </p>
    <p>People who rate high in neuroticism are sensitive and tend to be more nervous. </p>
    <p>People who rate low in neuroticism tend to be more secure and stable. </p>
  </div>


  <p>Do you agree or disagree with these statements?</p>
  <p>I stress out easily.<br>
    I tend to be moody.<br>
    I am a worrier.</p>
  <p>If you agreed, you probably rate high in neuroticism. <br>
    If you disagreed, you probably rate low in neuroticism.</p>
  <p class="formattedText inBold">Neuroticism has 48% genetic influence</p>
  <p class="formattedText inBold spcNote">Special Note:
    <br>If you rate high in neuroticism, you have to know your triggers–what makes you worry?
    <br>And your calmers–what helps you calm down? So you can be more in control of your moods.</p>





  <form action="/start-test" method="GET">
    <button class="startTestButton" type="submit" name="button">Start Test</button>
  </form>




<div class="lastPart">
  <span class="formattedText">There are some other fascinating facts about personality science that might intrigue you.</span>
  <span class="formattedText">You could read more <a class="readMore" href="https://www.scienceofpeople.com/personality/ " target="_blank">HERE</a>, which is from where the entire content above was taken, too.</span>
<br>
<br>
<br>
<br>
</div>
</div>

<%- include("partials/footer") -%>
