<%- include("partials/header") -%>

<div class="bookmarkRibbon"></div>
<div class="over"><a class="start-test" href="/start-test">Take the <br>test now!</a></div>

<div class="body container-fluid">
  <span>
    <h3> <a class="titleLink" href="https://www.simplypsychology.org/big-five-personality.html" target="_blank">What is the Big 5 Personality Test?</a></h3>
    <ul>
      <li class="noFormatBullets">The Big Five personality traits are <span class="formattedText">extraversion, agreeableness, openness, conscientiousness, and neuroticism</span>.</li>
      <li class="noFormatBullets">Each trait represents a continuum. Individuals can fall <span class="formattedText">anywhere on the continuum</span> for each trait.</li>
      <li class="noFormatBullets">The Big Five <span class="formattedText">remain relatively stable</span> throughout most of one’s lifetime, but the <span class="formattedText">specificity</span> of each test depends on the test taker's <span class="formattedText">current state of mind</span>.</li>
      <li class="noFormatBullets">They are <span class="formattedText">influenced significantly</span> by both <span class="formattedText">genes and the environment</span>, with an estimated <span class="formattedText">heritability of 50%</span>.</li>
      <li class="noFormatBullets">They are also known to <span class="formattedText">predict</span> certain important life outcomes such as <span class="formattedText">education and health</span>.</li>
    </ul>
  </span>
</div>

<span class="formattedText"> </span>

<%- include("partials/footer") -%>
