<%- include("partials//header") -%>

<div class="container-fluid qsStatement">
  <div class="statement">
    <h3>~  <%= number %> - <%=statement %>  ~</h3>
  </div>

  <div class="options">
    <% let para = ''; %>
    <% if (number<'50'){ para = ("/test/"+(number+1).toString()); } %>
    <% if (number>='50') { para = "/results" ; } %>

    <form class="" action= <%= para %> method="post">
      <div class="ButtonRight">
        <button id="imp" type="submit" class="nextQs" name="button">&#5171;</button>
      </div>
      <div class="optionsSub">
        <input type="checkbox" class="one" value="one"> <label>1 - COMPLETELY DISAGREE</label>
        <br>
        <input type="checkbox" class="two"  value="two"> <label>2 - SLIGHTLY DISAGREE</label>
        <br>
        <input type="checkbox" class="three"  value="three"> <label>3 - NEUTRAL</label>
        <br>
        <input type="checkbox"  class="four"  value="four"> <label>4 - SLIGHTLY AGREE</label>
        <br>
        <input type="checkbox" class="five"  value="five"> <label>5 - COMPLETELY AGREE</label>
        <br>

      </div>


      <!-- <button class="nextQs" type="submit">Next Question</button> -->
    </form>

  </div>

</div>

</body>

<script src="\js\test.js" charset="utf-8"></script>

  <div class="footer container-fluid">
    <div class="main container-fluid">

        <p>Arushi Rai - 2021</p>

    </div>
  </div>

</html>
