<%- include("partials//header") -%>

<div class="container-fluid qsStatement">
<h3>1 - seriously, whyyyyyyyyyyyyyyyyyyyyy </h3>
  <div class="options">
    <form class="" action="/test/2" method="get">
      <input type="checkbox" name="one" value="one"> <label>1 - DISAGREE</label>
      <br>
      <input type="checkbox" value="two"> <label>2 - SLIGHTLY DISAGREE</label>
      <br>
      <input type="checkbox"  value="three"> <label>3 - NEUTRAL</label>
      <br>
      <input type="checkbox" value="four"> <label>4 - SLIGHTLY AGREE</label>
      <br>
      <input type="checkbox" value="five"> <label>5 - AGREE</label>
      <br>

      <button type="submit">Next Question</button>
    </form>

  </div>

</div>

</body>

<script src="test.js" charset="utf-8"></script>

  <div class="footer container-fluid">
    <div class="main container-fluid">

        <p>&copy; We Hate JavaScript 2021</p>

    </div>
  </div>

</html>
